version: '3.8'

services:
  web:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules # Avoid overwriting container node_modules with local ones
    env_file:
      - .env
    tty: true
